<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amari</title>
</head>
<body>
            <div style="display: block;">
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Hi <%= name %>,</p>
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Welcome to Amari Africa! We're thrilled to have you join our vibrant marketplace. Here, you'll find a wide variety of high-quality products sourced from trusted manufacturers and suppliers across Africa. From unique handmade crafts to essential goods, Amari offers you a seamless shopping experience with unparalleled choice.</p>
                 
                <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> <a href="https://amari.africa">Start</a> exploring today, and feel free to reach out if you need any assistance. We're here to ensure you enjoy every moment with us!</p>
                <h3 style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">Any Questions?</h3>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">If you have questions or concerns, our friendly Customer Success Team is always ready to help!</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Send us an email at support@amari.africa</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Once again, Thank you for choosing Amari.</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Best Wishes</p>
               <p style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-weight: 500;">The Amari Africa Team.</p>
            </div>
</body>
</html>