@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: rgb(3, 223, 216);
    --main-color-2: rgb(11, 213, 206);
    --regular-font: "Outfit", sans-serif;
    --line: rgba(227, 227, 227, 0.558);
    --light-gray: rgb(241, 243, 244);;
}

body{
      font-family: "Outfit", sans-serif;
}

ul{
   list-style: none;
}

a{
    text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.inner-row{
     width: 1250px;
     margin: auto;
}
.inner-row-2{
     width: 90%;
     margin: auto;
}

button, 
textarea,
input,
select{
    font-family: var(--regular-font);
}
h1, h2, h3, h4, h5, h6{
     line-height: 1;
     color: rgb(50,50,50);
     font-weight: 600;
}

::-webkit-scrollbar {
    width: 7px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 ::-webkit-scrollbar-thumb {
    background:rgb(204, 210, 211); 
      border-radius:10px;
}

.logo{
      width: 160px;
}


/* Spinners */
.spinner1{
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.profile{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.profile-image{
     width: 40px;
     height: 40px;
     flex-shrink: 0;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     overflow: hidden;
}

.profile span{
      font-size: 15px;
}

.profile h3{
      font-size: 16px;
      font-weight: 500;
      color: rgb(50,50,50);
}

.profile-texts span{
    font-size: 14px;
    color: rgb(120, 120, 120);
}
.profile-texts span span{
  font-size: 11px;
}

.dashboard-body{
    width: calc(100% - 270px);
    margin-left: 270px;
   padding: 30px;
   min-height: 850px;
   background: rgba(245, 245, 246, 0.2);
}

.sidebar-btn{
    display: flex;
    width: 35px;
    height: 35px;
    background: rgb(241, 243, 244);
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    display: none;
}
/* Recharts Custom Styles */
.recharts-default-tooltip{
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border: 1px solid rgba(233, 233, 233, 0.5) !important;
}
.recharts-default-tooltip p{
       font-size: 14px;
}

.recharts-default-tooltip ul li{
     padding: 0 !important;
}
.recharts-default-tooltip ul li span{
     font-size: 15px;
}


.copyright{
       text-align: center;
       margin-top: 40px;
       padding-top: 20px;
       border-top: 1px solid var(--line);
}
.copyright p{
      font-size: 13px;
      color: rgb(120, 120, 120);
      font-weight: 300;
}
form .error{
      font-size: 13px;
      color: #fa0000;
}

.dashboard-body button .spinner1{
    width: 16px;
    height: 16px;
}

/* Notification pop */
.notification-pop{
     position: fixed;
     right: 20px;
     bottom: 20px;
     width: 350px;
     z-index: 9999;
     padding: 20px;
     display: flex;
     align-items: center;
     gap: 10px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     border: 2px solid white;
     box-shadow: 0px 0px 2px -1px rgb(184, 197, 197);
     transform: translateX(400px);
     -webkit-transform: translateX(400px);
     -moz-transform: translateX(400px);
     -ms-transform: translateX(400px);
     -o-transform: translateX(400px);
     transition: all 0.8s ease-in-out;
     -webkit-transition: all 0.8s ease-in-out;
     -moz-transition: all 0.8s ease-in-out;
     -ms-transition: all 0.8s ease-in-out;
     -o-transition: all 0.8s ease-in-out;
     background: rgba(14, 213, 220, 0.925);
}
.notification-pop.active{
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}
.notification-pop.Success{
     background: rgba(9, 225, 150, 0.925);
}
.notification-pop.Error{
      background: rgba(226, 38, 38, 0.925)
}
.notification-pop h4{
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 2px;
     color: var(--main-color);
}
.notification-pop.Success h4{
    color: rgb(255, 255, 255);
}
.notification-pop.Error h4{
       color: rgb(255, 255, 255);
}
.notification-pop span:not(.close-pop){
      width: 40px;
      height: 40px;
      border-radius: 40px;
      display: flex;
      flex-shrink: 0;
      background: white;
      align-items: center;
      justify-content: center;
      color: var(--main-color);
      -webkit-border-radius: 40px;
      -moz-border-radius: 40px;
      -ms-border-radius: 40px;
      -o-border-radius: 40px;
}
.notification-pop.Success span{
    color: rgb(26, 208, 132);
}
.notification-pop.Error span{
    color: rgb(255, 52, 52);
}

.notification-pop p{
      font-size: 14px;
      font-weight: 300;
      color: whitesmoke;
}
.notification-pop.Success p{
    color: rgb(250, 250, 250);
}
.notification-pop.Error p{
      color: rgb(250, 250, 250);
}
.notification-pop.Success .close-pop{
      color: white;
}
.notification-pop.Error .close-pop{
     color: white;
}
.notification-pop .close-pop{
      position: absolute;
      right: 10px;
      top: 8px;
      font-size: 18px;
      width: 20px;
      height: 20px;
      color: rgb(246, 246, 246);
      display: flex;
      justify-content: flex-end;
      cursor: pointer;
}

.footer-public{
      padding: 20px 0;
      text-align: center;
      border-top: 1px solid var(--line);
      background: rgba(238, 245, 244, 0.29);
}
.footer-public p{
    font-size: 13px;
      color: rgb(120, 120, 120);
      font-weight: 300;
}

@media(max-width: 1280px){
    .inner-row{
           width: 90%;
    }
}

@media(max-width: 1100px){
    .dashboard-body{
        width: 100%;
        margin-left: 0;
    }
    .sidebar-btn{
           display: flex;
    }
}
@media(max-width: 768px){
        .topbar-section .profile h3{
                display: none;
        }

}

@media(max-width: 480px){
    .notification-pop{
         width: 75%;
     }
}