@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-color: rgb(3, 223, 216);
    --regular-font: "Outfit", sans-serif;
    --line: rgba(227, 227, 227, 0.558);
    --light-gray: rgb(241, 243, 244);;
}

body{
      font-family: "Outfit", sans-serif;
}

ul{
   list-style: none;
}

a{
    text-decoration: none;
}

img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}

.inner-row{
     width: 90%;
     margin: auto;
}

button, 
textarea,
input{
    font-family: var(--regular-font);
}
h1, h2, h3, h4, h5, h6{
     line-height: 1;
     color: rgb(50,50,50);
     font-weight: 600;
}

::-webkit-scrollbar {
    width: 7px;
    height: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 ::-webkit-scrollbar-thumb {
    background:rgb(204, 210, 211); 
      border-radius:10px;
}

.logo{
      width: 160px;
}


/* Spinners */
.spinner1{
    width: 20px;
    height: 20px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
.profile{
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}
.profile-image{
     width: 40px;
     height: 40px;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     overflow: hidden;
}

.profile span{
      font-size: 15px;
}

.profile h3{
      font-size: 16px;
      font-weight: 500;
      color: rgb(50,50,50);
}

.profile-texts span{
    font-size: 14px;
    color: rgb(120, 120, 120);
}
.profile-texts span span{
  font-size: 11px;
}

.dashboard-body{
    width: calc(100% - 270px);
    margin-left: 270px;
   padding: 30px;
   min-height: 850px;
   background: rgba(245, 245, 246, 0.2);
}

.sidebar-btn{
    display: flex;
    width: 35px;
    height: 35px;
    background: rgb(241, 243, 244);
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    cursor: pointer;
    margin-bottom: 10px;
    display: none;
}
/* Recharts Custom Styles */
.recharts-default-tooltip{
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border: 1px solid rgba(233, 233, 233, 0.5) !important;
}
.recharts-default-tooltip p{
       font-size: 14px;
}

.recharts-default-tooltip ul li{
     padding: 0 !important;
}
.recharts-default-tooltip ul li span{
     font-size: 15px;
}

.search-area{
      background: var(--light-gray);
      padding: 0 10px;
      display: flex;
      gap: 5px;
      align-items: center;
      width: 300px;
      height: 40px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}
.search-area span{
        display: flex;
        color: rgb(120, 120, 120);
}
.search-area .search-control{
      width: 100%;
      height: 90%;
      background: transparent;
      border: 0;
      font-weight: 300;
      outline: none;
}
.search-control::placeholder{
       font-size: 13px
}
.copyright{
       text-align: center;
       margin-top: 40px;
       padding-top: 20px;
       border-top: 1px solid var(--line);
}
.copyright p{
      font-size: 13px;
      color: rgb(120, 120, 120);
      font-weight: 300;
}


@media(max-width: 1100px){
    .dashboard-body{
        width: 100%;
        margin-left: 0;
    }
    .sidebar-btn{
           display: flex;
    }
}
@media(max-width: 768px){
        .topbar-section .profile h3{
                display: none;
        }
}
