.auth-page-wrapper{
      display: grid;
      grid-template-columns: 1.5fr 3fr;
      height: 100vh;
}

.auth-page-wrapper .auth-image{
     height: inherit;
}
.auth-page-wrapper .auth-image img{
     display: block;
}

.auth-page-body{
     display: flex;
     align-items: center;
     justify-content: center;
}
.auth-page-body .auth-page-inner{
     width: 700px;
}

.auth-page-body .logo{
     width: 180px;
     margin-bottom: 20px;
     cursor: pointer;
}

.auth-page-body h2{
     font-size: 36px;
     font-weight: 500;
}

.sign-in-with-google{
      display: flex;
      gap: 10px;
      border-radius: 8px;
      margin: 20px 0;
      border: 1px solid var(--light-gray);
      width: 400px;
      justify-content: center;
      height: 55px;
      align-items: center;
      cursor: pointer;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
}
.sign-in-with-google span{
       display: flex;
}
.sign-in-with-google h4{
      font-weight: 500;
      font-size: 15px;
}
.sign-in-with-google.active{
       background: var(--main-color);
       color: white;
}
.sign-in-with-google.active h4{
     color: white;
}
.switch-choice{
      display: flex;
      align-items: center;
      gap: 10px;
      width: 400px;
}
.switch-choice.active{
     justify-content: center;
}
.switch-choice span{
     width: 40%;
     height: 1px;
     background: var(--line);
     margin-top: 4px;
}
.switch-choice p{
      font-size: 15px;
      flex-shrink: 0;
      font-weight: 300;
      color: rgb(106, 106, 106);
}

.auth-form-content{
    width: 400px;
    position: relative;
    margin-top: 20px;
}
.auth-form-row{
     margin-bottom: 20px;
}
.auth-form-row label{
     font-size: 16px;
     font-weight: 400;
     color: #333;
     margin-bottom: 5px;
     display: block;
}

.auth-form-content .redirect{
      margin: 10px 0;
      font-size: 15px;
      text-align: center;
      font-weight: 300;
}

.auth-form-content .redirect a,
.auth-form-content .forgot,
.terms-wrap p a,
p.redirect a,
.terms-acceptance p a{
     text-decoration: underline;
     color: #222;
     font-weight: 320;
}

.auth-form-content .forgot{
     text-align: right;
     font-size: 15px;
     font-weight: 400;
     display: flex;
     justify-content: flex-end;
     margin: 5px;
}

.terms-wrap{
      width: 400px;
      text-align: center;
}
.terms-acceptance{
      display: flex;
      align-items: flex-start;
      gap: 10px;
}
.terms-acceptance input{
      width: 25px;
      height: 25px;
      margin-top: 3px;
      accent-color: var(--main-color);
}
.terms-wrap p.terms,
.terms-acceptance p{
      font-size: 15px;
      font-weight: 300;
      line-height: 1.75;
      margin-bottom: 20px;
}
 p.redirect{
      font-size: 15px;
      font-weight: 300;
      text-align: center;
      width: 400px;
}

.auth-header{
     display: flex;
     gap: 20px;
     position: relative;
}
.auth-header span{
      width: 45px;
      height: 45px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border: 1px solid gainsboro;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: -80px;
      top: 0;
}

.auth-form-content .adjust{
     margin-top: 20px;
}
.auth-form-row.split{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
}

.auth-form-row .password-input{
      padding-right: 5px;
}
.form-btn.mb{
     margin-bottom: 10px;
}

@media(max-width: 1090px){
     .auth-page-wrapper{
            grid-template-columns: 1fr;
     }
     .auth-page-wrapper .auth-image{
           display: none;
     }
     .auth-page-body .auth-page-inner{
           width: 400px;
     }
}

@media(max-width: 550px){
       .auth-page-body .auth-page-inner{
             width: 80%;
       }
       .sign-in-with-google,
       .switch-choice,
       .auth-form-content,
       p.redirect{
               width: 100%;
       }
}