header{
    height: 85px;
    border-bottom: 1px solid var(--line);
}
.header-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 85px;
}

.header-content .logo-item{
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;

}
.logo-item img{
     object-fit: contain;
}

.mobile-menu-btn{
       display: none;
}
.header-content .flex-item-column{
    display: flex;
    gap: 50px;
    position: relative;
}
.flex-item-column.right{
       gap: 10px;;
}
.flex-item-column nav{
    display: flex;
    align-items: center;
}
.flex-item-column nav ul{
    display: flex;
    gap: 10px;
}
.flex-item-column nav ul li a{
    display: inline-flex;
    padding: 10px 15px;
    font-size: 16px;
    color: rgb(50, 50, 50);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.flex-item-column nav ul li a:hover{
    background: var(--light-gray);
}
.menu-btn{
      cursor: pointer;
      width: 38px;
      height: 35px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      display: none;
      border: 1px solid rgba(220, 220, 220, 0.2)
}
.flex-item-column nav .head-categories{
      position: relative;
}
.flex-item-column nav .head-categories-wrap{
      display: flex;
      align-items: center;
      padding: 12px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      cursor: pointer;
      gap: 4px;
      font-size: 16px;;
      position: relative;
}
.head-categories span{
    display: flex;
    margin-top: 3px;
}
.head-categories:hover,
.head-categories-wrap.active{
    background: var(--light-gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.categories-dropdown{
    position: absolute;
    width: 180px;
    top: 63px;
    left: 0;
    border-bottom: 1px solid var(--line);
    border-left: 1px solid var(--line);
    border-right: 1px solid var(--line);
    border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -ms-border-radius: 0px 0px 6px 6px;
    -o-border-radius: 0px 0px 6px 6px;
    transform-origin: top;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
}
.categories-dropdown.active{
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
}
.categories-dropdown ul{
      flex-direction: column;
      gap: 0px !important;
}
.categories-dropdown ul li a{
      display: flex;
      width: 100%
}



.flex-item-column .box{
    display: flex;
    gap: 5px;
    align-items: center;
}
.flex-item-column .box{
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.flex-item-column .box:nth-child(1){
     padding: 10px 20px;
}
.flex-item-column .box h3{
      font-size: 16px;
      font-weight: 400;
}
.flex-item-column .box span{
    display: flex;
    font-size: 18px;
}

.flex-item-column .box:hover,
.header-content .menu-btn:hover{
    background: var(--light-gray)
}

.flex-item-column .box figure{
      font-size: 12px;
}







@media(max-width: 1090px){
       .flex-item-column .menu-btn{
             display: flex;
       }

       .flex-item-column nav .head-categories,
       .flex-item-column nav ul{
              display: none;
       }
}

@media(max-width: 768px){
     .flex-item-column .menu-btn,
     .flex-item-column.right .box.account{
            display: none;
     }

   .header-content  .flex-item-column{
           display: flex;
           justify-content: center;
           position: relative;;
           width: max-content;
           gap: 0px;
     }
     .mobile-menu-btn,
     .mobile-menu-btn .menu-btn{
            display: flex;
     }
     .logo-item img{
           width: 150px;
     }
     .mobile-menu-btn{
           display: flex;
           gap: 15px;
     }
     .mobile-menu-btn .spacer{
          width: 25px;
     }
}

@media(max-width: 480px){
        .mobile-menu-btn .spacer, 
        .flex-item-column .search{
               display: none;
        }
        .logo-item img{
               width: 120px;
        }
}