header{
    height: 85px;
    border-bottom: 1px solid var(--line);
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
}
.header-content{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    height: 85px;
}

.header-content .logo-item{
    display: inline-flex;
    flex-shrink: 0;
    justify-content: center;

}
.logo-item img{
     object-fit: contain;
}

.mobile-menu-btn{
       display: none;
}
.header-content .flex-item-column{
    display: flex;
    gap: 50px;
    position: relative;
}
.flex-item-column.right{
       gap: 10px;;
}
.flex-item-column nav{
    display: flex;
    align-items: center;
}
.flex-item-column nav ul{
    display: flex;
    gap: 10px;
}
.flex-item-column nav ul li a{
    display: inline-flex;
    padding: 10px 15px;
    font-size: 16px;
    color: rgb(50, 50, 50);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.flex-item-column nav ul li a:hover,
.flex-item-column nav ul li a.active{
    background: var(--light-gray);
}
.menu-btn{
      cursor: pointer;
      width: 38px;
      height: 35px;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 22px;
      display: none;
      border: 1px solid rgba(220, 220, 220, 0.2)
}
.flex-item-column nav .head-categories{
      position: relative;
}
.flex-item-column nav .head-categories-wrap{
      display: flex;
      align-items: center;
      padding: 12px 15px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      cursor: pointer;
      gap: 4px;
      font-size: 16px;;
      position: relative;
}
.head-categories span{
    display: flex;
    margin-top: 3px;
}
.head-categories:hover,
.head-categories-wrap.active{
    background: var(--light-gray);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.categories-dropdown{
    position: absolute;
    width: 450px;
    top: 63px;
    left: 0;
    border-bottom: 1px solid var(--line);
    border-left: 1px solid var(--line);
    border-right: 1px solid var(--line);
    border-radius: 0px 0px 6px 6px;
    -webkit-border-radius: 0px 0px 6px 6px;
    -moz-border-radius: 0px 0px 6px 6px;
    -ms-border-radius: 0px 0px 6px 6px;
    -o-border-radius: 0px 0px 6px 6px;
    transform-origin: top;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    background: white;
    z-index: 90; 
    padding: 10px;
}
.categories-dropdown.active{
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
}
.categories-dropdown ul{
      display: grid !important;
      grid-template-columns: 1fr 1fr;
      gap: 10px !important;
}
.categories-dropdown ul li a{
      display: flex;
      width: 100%;
      padding: 15px 10px !important
}



.flex-item-column .box{
    display: flex;
    gap: 5px;
    align-items: center;
}
.flex-item-column .box{
    padding: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    cursor: pointer;
}
.flex-item-column .box:nth-child(1){
     padding: 10px 20px;
}
.flex-item-column .box h3{
      font-size: 16px;
      font-weight: 400;
}
.flex-item-column .box span{
    display: flex;
    font-size: 18px;
}

.flex-item-column .box:hover,
.header-content .menu-btn:hover{
    background: var(--light-gray)
}

.flex-item-column .box figure{
      font-size: 12px;
}


/* Profile Bar styles */
.profile-bar{
      position: relative;
}
.profile-wrap-box{
       position: relative;
      display: flex;
      gap: 5px;
      align-items: center;
      padding: 5px 10px 5px 5px;
      background: var(--light-gray);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      cursor: pointer;
}
.profile-wrap-box img{
        width: 30px;
        height: 30px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}

.profile-wrap-box h3{
      font-size: 15px;
      font-weight: 400;
      display: flex;
      align-items: center;
      gap: 5px;
}
.profile-wrap-box h3 span{
      display: flex;
      font-size: 16px;
      margin-top: 2px;
}

.profile-popup{
       position: absolute;
       width: 250px;
       border-bottom: 1px solid var(--line);
       border-left: 1px solid var(--line);
       border-right: 1px solid var(--line);
       border-radius: 0px 0px 10px 10px;
       -webkit-border-radius: 0px 0px 10px 10px;
       -moz-border-radius: 0px 0px 10px 10px;
       -ms-border-radius: 0px 0px 10px 10px;
       -o-border-radius: 0px 0px 10px 10px;
       background: white;
       z-index: 90;
       padding: 20px;
       right: 0;
       top: 61.3px;
       transform: scaleY(0);
       -webkit-transform: scaleY(0);
       -moz-transform: scaleY(0);
       -ms-transform: scaleY(0);
       -o-transform: scaleY(0);
       transform-origin: top;
       transition: all 0.75s ease;
       -webkit-transition: all 0.75s ease;
       -moz-transition: all 0.75s ease;
       -ms-transition: all 0.75s ease;
       -o-transition: all 0.75s ease;
}
.profile-popup.active{
      transform: scaleY(1);
      -webkit-transform: scaleY(1);
      -moz-transform: scaleY(1);
      -ms-transform: scaleY(1);
      -o-transform: scaleY(1);
}

.profile-pop-header{
      border-bottom: 1px solid var(--light-gray);
      padding-bottom: 10px;
}
.profile-pop-header h4{
      font-size: 20px;
      font-weight: 400;
}
.profile-pop-header p{
      margin: 5px 0;
      font-weight: 300;
      font-size: 15px;
}

.profile-popup ul{
      margin: 10px 0;
}
.profile-popup ul li{
      margin-bottom: 5px;
}
.profile-popup ul li a{
      display: flex;
      padding: 12px;
      align-items: center;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      color: #454545;
      gap: 5px;
      font-size: 15px;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
}
.profile-popup ul li a:hover{
      background: var(--light-gray);
}
.profile-popup ul li a span{
      display: flex;
      color: #5f5f5f;
}
.profile-popup button{
      width: 100%;
      height: 45px;
      background: rgba(255, 37, 37, 0.153);
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      border: none;
      cursor: pointer;
      color: rgb(245, 12, 12);
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
}
.profile-popup button:hover{
      background: rgba(244, 39, 39, 0.605);
      color: white;
}





/* Hero Section */
.hero-section-content{
     
      position: relative;
      z-index: 10;
}
.hero-slide-moja.one{
      min-height: 90vh;
      background: linear-gradient(transparent, white), url("../../assets/hero1.jpg") no-repeat;
      background-size: cover;
      background-position:  40%;
}
.hero-slide-moja.two{
      min-height: 90vh;
      background: linear-gradient(transparent, white), url("../../assets/hero2.jpg") no-repeat;
      background-size: cover;
      background-position:  40%;
}
.hero-overlay-and-texts{
      width: 50%;
      background: linear-gradient(#139397b7, rgb(255, 255, 255));
      height: 100vh;
      clip-path: polygon(0 0, 100% 0, 75% 100%, 0% 100%);
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      opacity: 0;
}
.hero-overlay-and-texts.active{
      animation: slideIn 1s linear;
      -webkit-animation: slideIn 1s linear;
      opacity: 1;
}

@keyframes slideIn{
      0%{
             transform: translateX(-100%)      ;
             -webkit-transform: translateX(-100%)      ;
             -moz-transform: translateX(-100%)      ;
             -ms-transform: translateX(-100%)      ;
             -o-transform: translateX(-100%)      ;
     }
     100%{
            transform: translateX(0) ;
            -webkit-transform: translateX(0) ;
            -moz-transform: translateX(0) ;
            -ms-transform: translateX(0) ;
            -o-transform: translateX(0) ;
}
}
.hero-texts{
      width: 65%;
      margin: auto;
      padding-top: 100px;
}
.hero-texts h1{
    font-size: 43px;
    line-height: 1.4;
    color: rgb(255, 255, 255);
    font-weight: 600;
}
.hero-texts a{
     width: 200px;
     height: 50px;
     background:white;
     margin-top: 20px;
     display: flex;
     border-radius: 7px;
     -webkit-border-radius: 7px;
     -moz-border-radius: 7px;
     -ms-border-radius: 7px;
     -o-border-radius: 7px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 15px;
     color: var(--main-color);
     gap: 5px;
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.hero-texts a span{
    display: flex;
    margin-top: 3px;
}
.hero-texts a:hover{
     gap: 10px;
}

.hero-section-grid{
     position: relative;
     z-index: 50;
     transform: translateY(-180px);
     -webkit-transform: translateY(-180px);
     -moz-transform: translateY(-180px);
     -ms-transform: translateY(-180px);
     -o-transform: translateY(-180px);
}
.hero-grid-wrapper{
    background: white;
    min-height: 200px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.hero-grid{
     min-height: 300px;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     overflow: hidden;
     position: relative;
}

.hero-grid:nth-child(1){
     grid-row: span 2;
     display: flex;
     align-items: flex-end;
}

.hero-grid:nth-child(1) .hero-grid-texts{
      background: rgb(255, 252, 245);
      position: absolute;
      top: 0;
      height: 50%;
      left: -1%;
      width: 105%;
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 85%);
      padding: 30px;
}
.hero-grid-texts h2{
        font-size: 26px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 20px;
}
.hero-grid-texts a{
      border: 2px solid;
      width: 120px;
      display: flex;
      height: 40px;
      justify-content: center;
      align-items: center;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      font-size: 15px;
      color: black;
}
.hero-grid-texts a:hover{
    border: 2px solid #18acb1;
}
.hero-grid:nth-child(1) img{
       height: 80%;
}
.hero-grid:nth-child(2){
     grid-column: span 2;
     background: #f0fdff;
     padding: 30px;
     display: flex;
     align-items: center;
}
.hero-grid:nth-child(2) img{
     width: 40%;
     object-fit: contain;
     height: 90%;
     position: absolute;
     right: 0;
     top: 0;
}

.hero-grid:nth-child(2) .hero-grid-texts{
     width: 50%;
}
.hero-grid:nth-child(2) .hero-grid-texts h2{
       font-size: 36px;
}
.hero-grid-texts h2 span{
     font-size: 20px;;
}

.hero-grid:nth-child(3),
.hero-grid:nth-child(4){
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero-grid:nth-child(3) img,
.hero-grid:nth-child(4) img{
      width: 80%;
      position: absolute;
      top: 1px;
      height: 99%;
}

.hero-grid:nth-child(3) .hero-grid-texts{
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    background: rgb(255, 245, 245);
    padding: 30px;
    width: 65%;
    position: absolute;
    top: -5%;
    left: 0;
    height: 105%;
    display: flex;
    z-index: 50;
    flex-direction: column;
    justify-content: center;
}
.hero-grid:nth-child(3) .hero-grid-texts h2{
     font-size: 22px;
     width: 90%;
}

.hero-grid:nth-child(4) .hero-grid-texts h2{
     font-size: 20px;
     width: 90%;;
     line-height: 1.4;
}
.hero-grid:nth-child(4) .hero-grid-texts{
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
    background: rgb(240, 255, 249);
    padding: 30px;
    width: 65%;
    position: absolute;
    top: -5%;
    left: 0;
    height: 105%;
    display: flex;
    z-index: 3;
    flex-direction: column;
    justify-content: center;
}


/* Home Categories */
.home-categories{
      transform: translateY(-100px);
      -webkit-transform: translateY(-100px);
      -moz-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
      -o-transform: translateY(-100px);
} 
.section-title{
     font-size: 32px;
     font-weight: 500;
}

.home-categories-row{
      display: flex;
      gap: 40px;
      margin-top: 40px;
      justify-content: center;
      flex-wrap: wrap;
}
.category-moja{
      text-align: center;
      cursor: pointer;
}
.category-moja img{
     width: 120px;
     height: 120px;
     border-radius: 120px;
     -webkit-border-radius: 120px;
     -moz-border-radius: 120px;
     -ms-border-radius: 120px;
     -o-border-radius: 120px;
     margin: auto;
}

.category-moja h3{
     line-height: 1.3;
     font-size: 17px;
     font-weight: 500;
     width: 90%;
     margin: 10px auto 0px auto;
}


/* Home products */
.home-products{
     padding-bottom: 100px;
}

.products-row{
     margin-top: 30px;
      display: grid;
      grid-template-columns: repeat(4,1fr);
      gap: 20px;
      row-gap: 30px;
}

.client-product-card .image-wrapper{
      position: relative;
      overflow: hidden;
      height: 385px;
}
.image-wrapper img{
      height: 375px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
}

.image-wrapper button{
      width: 120px;
      height: 45px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      position: absolute;
      bottom:0;
      left: 50%;
      transform: translate(-50%, 50px);
      -webkit-transform: translate(-50%, 50px);
      -moz-transform: translate(-50%, 50px);
      -ms-transform: translate(-50%, 50px);
      -o-transform: translate(-50%, 50px);
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
      background: var(--main-color);
      border:0;
      color: white;
      cursor: pointer;
}

.client-product-card:hover .image-wrapper img{
      height: 360px;
}
.client-product-card:has(.checked) .image-wrapper img{
      height: 375px;
}
.client-product-card:hover .image-wrapper button{
     transform: translate(-50%, -5px);
     -webkit-transform: translate(-50%, -5px);
     -moz-transform: translate(-50%, -5px);
     -ms-transform: translate(-50%, -5px);
     -o-transform: translate(-50%, -5px);
}

.add-to-cart-box{
     position: absolute;
     top: 20px;
     right: 20px;
     width: 45px;
     height: 45px;
     display: flex;
     justify-content: center;
     align-items: center;
     background: rgba(12, 24, 26, 0.389);
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
     cursor: pointer;
     overflow: hidden;
}
.add-to-cart-box:has(.checked){
       opacity: 0;
}
.client-product-card:hover .add-to-cart-box:has(.checked){
       opacity: 1;
}
.add-to-cart-box::before{
     content: "";
     width: 100%;
     height: 100%;
     background: rgba(255, 255, 255, 0.1);
     flex-shrink: 0;
     left: -100%;
     position: absolute;
     border-radius: 100%;
     -webkit-border-radius: 100%;
     -moz-border-radius: 100%;
     -ms-border-radius: 100%;
     -o-border-radius: 100%;
     transition: all 0.45s ease;
     -webkit-transition: all 0.45s ease;
     -moz-transition: all 0.45s ease;
     -ms-transition: all 0.45s ease;
     -o-transition: all 0.45s ease;
     z-index: 5;
}
.add-to-cart-box:hover::before{
    background: rgba(255, 255, 255, 0.6);
    left: 100%;
}
.add-to-cart-box span{
    display: flex;
    font-size: 20px;
    color: whitesmoke;
    z-index: 11;
}

.product-name-row{
     margin: 5px 0;
     display: flex;
     gap: 10px;
     justify-content: space-between;
}
.product-name-row h3{
     font-size: 20px;
     line-height: 1.2;
     font-weight: 450;
     cursor: pointer;
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.product-name-row h3:hover{
     color: var(--main-color);
}
.product-name-row h4{
      margin-top: 5px;
      font-size: 20px;
      font-weight: 550;
      font-family: var(--regular-font);
}
.product-name-row h4 span{
      font-size: 13px;
      font-weight: 400;
}


/* Client Modal */
.client-modal{
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background: rgba(234, 246, 249, 0.92);
       z-index: -99;
       display: flex;
       align-items: center;
       justify-content: center;
       opacity: 0;
}
.client-modal.active{
        z-index: 999;
        opacity: 1;
}
.client-modal-content{
       width: 1000px;
       height: 75%;
       background: rgb(255, 255, 255);
       display: grid;
       grid-template-columns: 1fr 1fr;
       border-radius: 10px;
       overflow: hidden;
       -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
       -ms-border-radius: 10px;
       -o-border-radius: 10px;
}

.client-modal-content .description-row-column{
       padding: 30px;
       position: relative;
       height: 99%;
      overflow-y: scroll;
}
.sale-wrap p{
      background: var(--main-color);
      display: inline-block;
      padding: 5px 15px;
      font-size: 14px;
      color: whitesmoke;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      display: none;
}
.description-row-column .modal-close{
      position: absolute;
      right: 20px;
      top: 15px;
      font-size: 16px;
      width: 30px;
      height: 30px;
      display: flex;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      background: var(--light-gray);
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
}
.description-row-column h2{
       font-size: 40px;
       margin: 10px 0;
       font-weight: 500;
       line-height: 1.3;
}

.review-wrap{
       display: flex;
       gap: 5px;
       align-items: center;
       margin-bottom: 10px;
}
.review-wrap .review-stars{
      display: flex;
      align-items: center;
}
.review-stars span{
      display: flex;
      color: rgb(255, 170, 0);;
}
.review-wrap p{
      font-size: 14px;;
}

.price-row h4{
      font-size: 16px;
      font-weight: 400;
}
.ksh{
      display: inline-flex;
      font-size: 15px;
      font-weight: 500;
}
.price-row h3{
      font-size:36px;
      display: flex;
      font-weight: 500;
      align-items: center;
      gap: 5px;
}

.price-short-description-row{
       margin: 10px 0
}
.price-short-description-row p{
      line-height: 1.5;
      font-weight: 340;
}

.product-quick-cart-options{
      display: flex;
      gap: 10px;
      justify-content: space-between;
      margin: 20px 0;
}

.cart-number-adjustments{
      width: 180px;
      display: flex;
      gap: 10px;
      align-items: center;
}
.cart-number-adjustments .adjust{
      width: 45px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: black;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      cursor: pointer;
      transition: all 0.35s ease;
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
}
.cart-number-adjustments .adjust:hover{
      transform: scale(0.95);
      -webkit-transform: scale(0.95);
      -moz-transform: scale(0.95);
      -ms-transform: scale(0.95);
      -o-transform: scale(0.95);
}
.cart-number-adjustments .adjust span{
      color: white;
      font-size: 22px;
      display: flex;
}
.adjust-showcase{
      width: 45px;
      height: 45px;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid rgba(220, 220, 220, 0.5);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
.adjust-showcase h3{
      font-size: 16px;
      font-weight: 500;
}

.add-to-cart-btn{
      width: 200px;
      height: 45px;
      background: var(--main-color);
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      position: relative;
      overflow: hidden;
}
.add-to-cart-btn::before{
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, 0.2);
      left: 0;
      transition: all 0.35s ease;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -ms-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
}
.add-to-cart-btn:hover::before{
       transform: translateX(0);
       -webkit-transform: translateX(0);
       -moz-transform: translateX(0);
       -ms-transform: translateX(0);
       -o-transform: translateX(0);
}
.add-to-cart-btn h4{
      font-size: 16px;
      color: white;
      font-weight: 500;
}


.quick-product-extras{
      border-top: 1px solid gainsboro;
      padding-top: 10px;
      margin-top: 40px;
}
.categories,
.tags,
.socials{
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      gap: 5px;
}
.categories h4,
.tags h4,
.socials h4{
      font-weight: 500;
}
.categories ul,
.tags ul,
.socials ul{
      display: flex;
      gap: 15px;
}
.categories ul li a,
.tags ul li a{
      color: #222;
      position: relative;
      display: inline-flex;
      padding:6px 0 4px 0;
      font-size: 15px;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
}
.categories ul li a::after,
.tags ul li a::after{
      content: "";
      width: 0%;
      height: 2px;
      background: var(--main-color);
      position: absolute;
      bottom: 0;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
}
.categories ul li a:hover,
.tags ul li a:hover{
      color: var(--main-color);
}
.categories ul li a:hover::after,
.tags ul li a:hover::after{
      width: 100%;
}

/* Shopping cart modal */
.shopping-cart-modal{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 20, 25, 0.508);
      z-index: -999;
      opacity: 0;
}
.shopping-cart-modal.active{
       z-index: 999;
       opacity: 1;
}

.shopping-cart-modal-content{
       position: absolute;
       right: 0;
        width: 450px;
        height: 100%;
      background-color: white;
}

.shopping-cart-header{
       border-bottom: 1px solid var(--line);
       display: flex;
       padding: 20px 30px;
       position: sticky;
       top: 0;
       justify-content: space-between;
       align-items: center;
}
.shopping-cart-header h3{
      font-size: 24px;
      font-weight: 450;
}
.shopping-cart-header .left-cart-aligned{
      display: flex;
      gap: 10px;
      align-items: center;
}
.shopping-cart-header .left-cart-aligned figure{
       width: 25px;
       height: 25px;
       flex-shrink: 0;
       display: flex;
       align-items: center;
       justify-content: center;
       font-size: 13px;
       border-radius: 4px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       -ms-border-radius: 4px;
       -o-border-radius: 4px;
       background: var(--main-color);
       color: white;
}
.shopping-cart-header span{
       width: 35px;
       height: 35px;
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       background: var(--light-gray);
       border-radius: 6px;
       -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
       -ms-border-radius: 6px;
       -o-border-radius: 6px;
}

.shopping-cart-modal-body{
       padding: 20px 30px;
       height: calc(100% - 80px);
       overflow: auto;
}
.shopping-cart-modal-body::-webkit-scrollbar {
       display: none;
}
.shopping-cart-selected-products{
       display: grid;
       gap: 10px;
}
.select-product-moja{
       display: flex;
       gap: 50px;
       justify-content: space-between;
       align-items: center;
       padding: 15px 20px;
       border-bottom: 1px solid var(--line);
}
.select-product-moja:last-child{
       border-bottom: none;
}
.select-product-moja img{
      width: 65px;
      height: 65px;
      border-radius: 12px;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
}
.select-product-moja-column{
      display: flex;
      gap: 10px;;
}
.product-moja-texts{
      display: flex;
      gap: 10px;
      flex-direction: column;
}
.product-moja-texts h3{
       font-size: 16px;
       font-weight: 450;
       line-height: 1.2;
}

.quantity-and-price{
      display: flex;
      gap: 5px;
      align-items: center;
}
.quantity-and-price h5{
      font-size: 16px;
      font-family: var(--regular-font);
}
.quantity-and-price span{
      display: inline-flex;
}
.select-product-moja .remove-btn{
       color: red;
       background-color: rgba(255, 232, 232, 0.411);
       display: flex;
       width: 30px;
       cursor: pointer;
       height: 30px;
       flex-shrink: 0;
       border-radius: 5px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
       -ms-border-radius: 5px;
       -o-border-radius: 5px;
       align-items: center;
       justify-content: center;
       font-size: 15px;
}

.nothing-in-the-basket{
      width: 90%;
      margin: auto;
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--light-gray);
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
.nothing-in-the-basket p{
      font-weight: 350;
      font-size: 16px;
}

.basket-actions{
      margin-top: 20px;
      border-top: 1px solid var(--line);
    position: relative;
    padding: 10px;
}

.basket-actions::before{
       content: "";
       width: 100%;
       height: 1px;
       left: 0;
       background: var(--line);
       position: absolute;
       top: -5px;
}
.basket-subtotal{
      display: flex;
      justify-content: space-between;
      gap: 10px;
      flex-wrap: wrap;
      align-items: center;
}
.basket-subtotal h4{
      font-size: 22px;
      font-weight: 400;
}
.basket-subtotal h5{
      font-size: 22px;
}

.basket-buttons{
      display: grid;
      gap: 10px;
      width: 95%;
      margin: 40px auto 20px auto;
}
.basket-buttons a{
       width: 100%;
       display: flex;
       height: 55px;
       align-items: center;
       justify-content: center;
       border-radius: 8px;
       -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
       -ms-border-radius: 8px;
       -o-border-radius: 8px;
}

.basket-buttons a:nth-child(1){
       background-color: var(--light-gray);
       color: #222;
}
.basket-buttons a:nth-child(2){
      background: var(--main-color);
      color: white;
}








































































@media(max-width: 1150px){
      .hero-overlay-and-texts{
             width: 60%;
      }
      .hero-grid-wrapper{
             width: 100% !important;
      }
}


@media(max-width: 1090px){
       .flex-item-column .menu-btn{
             display: flex;
       }

       .flex-item-column nav .head-categories,
       .flex-item-column nav ul{
              display: none;
       }

       .hero-texts h1{
             font-size: 36px;;
       }
       .hero-grid-wrapper{
            grid-template-columns: 1fr 1fr;
       }
       .hero-grid:nth-child(1){
             grid-row: span 1;
       }
       .hero-grid:nth-child(1) .hero-grid-texts{
             height: 60%;
       }
       .hero-grid:nth-child(2){
             grid-column: span 1;
             flex-direction: column;
             align-items: center;
       }
       .hero-grid:nth-child(2) img{
             position: relative;
             top: auto;
             width: 80%;
       }
       .hero-grid:nth-child(2) .hero-grid-texts{
             width: 100%;
       }

       .client-modal-content{
              width: 95%;
       }
       .products-row{
                grid-template-columns: repeat(3,1fr);
       }
}

@media(max-width: 768px){
     .flex-item-column .menu-btn,
     .flex-item-column.right .box.account,
     .profile-bar{
            display: none;
     }

   .header-content  .flex-item-column{
           display: flex;
           justify-content: center;
           position: relative;;
           width: max-content;
           gap: 0px;
     }
     .mobile-menu-btn,
     .mobile-menu-btn .menu-btn{
            display: flex;
     }
     .logo-item img{
           width: 150px;
     }
     .mobile-menu-btn{
           display: flex;
           gap: 15px;
     }
     .mobile-menu-btn .spacer{
          width: 25px;
     }

     .hero-overlay-and-texts{
             width: 70%;
     }
     .hero-grid-wrapper{
             grid-template-columns: 1fr;
     }
     .hero-grid:nth-child(1){
           max-height: 450px;
     }
     .client-modal-content{
          grid-template-columns: 1fr;
          height: 90%;
     }
     .client-modal-content .image-row-column{
            height: 350px;
     }

     .products-row{
           grid-template-columns: 1fr 1fr;
     }

     .product-name-row h3{
            font-size: 18px;
     }

      .description-row-column h2,
      .price-row h3{
             font-size: 30px;
      }
}
@media(max-width: 600px){
      .products-row{
            grid-template-columns: 1fr;
      }
      .shopping-cart-modal-content{
              width: 90%;
      }
}
@media(max-width: 480px){
        .mobile-menu-btn .spacer, 
        .flex-item-column .search{
               display: none;
        }
        .logo-item img{
               width: 120px;
        }
        .hero-overlay-and-texts{
                width: 100%;
                clip-path: none;
                background: linear-gradient(#13939790, rgb(255, 255, 255));
        }
        .hero-texts{
               width: 80%;
               text-align: center;
        }
        .hero-texts a{
               margin: 20px auto;
        }
        .hero-grid-texts h2,
        .hero-grid:nth-child(3) .hero-grid-texts h2{
              font-size: 25px
        }
        .hero-grid:nth-child(1),
        .hero-grid:nth-child(3),
        .hero-grid:nth-child(4){
               flex-direction: column;
               height: auto;
        }
        .hero-grid:nth-child(1) .hero-grid-texts{
               position: relative;
               clip-path: none;
        }
        .hero-grid:nth-child(3)  .hero-grid-texts,
        .hero-grid:nth-child(4)  .hero-grid-texts{
               clip-path: none;
               position: relative;
               width: 100%;
               top: 0;
        }
        .hero-grid:nth-child(3) img,
       .hero-grid:nth-child(4) img{
            position: relative;
            width: 100%;
            top: auto;
            height: 250px;
       }
        .shopping-cart-header,
        .shopping-cart-modal-body{
              padding: 20px;
        }
       .shopping-cart-header h3{
            font-size: 18px;
       }
       .nothing-in-the-basket{
              width: 100%;
       }
       .nothing-in-the-basket p{
            font-size: 14px;
       }
       .select-product-moja{
            padding: 15px 5px;
            gap: 10px;
            align-items: flex-start;
       }
       .select-product-moja-column{
             flex-direction: column;
       }
      .select-product-moja img{
             width: 45px;
             height: 45px;
             border-radius: 7px;
             -webkit-border-radius: 7px;
             -moz-border-radius: 7px;
             -ms-border-radius: 7px;
             -o-border-radius: 7px;
}
}

@media(max-width: 320px){
        .hero-texts h1{
               font-size: 30px;
        }
        .hero-grid-texts h2,
        .hero-grid:nth-child(3) .hero-grid-texts h2{
                font-size: 20px;
        }
        .hero-grid:nth-child(4) .hero-grid-texts{
               height: 60%;
        }
}