.dashboard-wrapper{
      display: flex;
}
.sidebar-wrapper{
       width: 270px;
       flex-shrink: 0;
       position: fixed;
       z-index: 99;
       top: 0;
       bottom: 0;
       left: 0;
       background: white;
       border-right: 1px solid rgba(220, 220, 220, 0.5);
       overflow-y: auto;
}
.sidebar-wrapper::-webkit-scrollbar{
    display: none;
}
.sidebar-inner{
    height: 100%;
}
.sidebar-wrapper .logo{
      width: 140px;
      display: block; 
      height: 50px;
      margin: 25px auto;
}
.sidebar-wrapper .logo img{
       object-fit: contain;
}

.sidebar-wrapper nav{
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      height: calc(90% - 80px);
      justify-content: space-between;
      gap: 80px;
}
.sidebar-wrapper nav ul li{
     line-height: 1;
     display: flex;
     flex-shrink: 0;
     width: 100%;
     justify-content: center;
     padding: 15px 20px;
     position: relative;
     align-items: center;
     margin-bottom: 5px;
}
.sidebar-wrapper nav ul li.dropy{
      margin-bottom: 0 !important;
}
.sidebar-wrapper nav ul li span.plus{
      color: gray;
      cursor: pointer;
}

.sidebar-wrapper .dropdown{
    width: 85%;
    margin: auto;
    overflow: hidden;
    background: rgba(250, 250, 250, 0.48);
    max-height: 0;
    transition: all 0.85s ease;
    -webkit-transition: all 0.85s ease;
    -moz-transition: all 0.85s ease;
    -ms-transition: all 0.85s ease;
    -o-transition: all 0.85s ease;
}

.sidebar-wrapper .dropdown.active{
      max-height: 200px;
}

.sidebar-wrapper .dropdown  ul li{
      margin: 0
}
.sidebar-wrapper nav ul li:has(a.active),
.sidebar-wrapper nav ul li:has(a:hover){
    background: rgba(214, 243, 244, 0.2);
}
.sidebar-wrapper nav ul li::after{
       position: absolute;
       content: "";
       left: 0;
       width: 5px;
       height: 60%;
       background: var(--main-color);
       border-radius: 0px 5px 5px 0px;
       -webkit-border-radius: 0px 5px 5px 0px;
       -moz-border-radius: 0px 5px 5px 0px;
       -ms-border-radius: 0px 5px 5px 0px;
       -o-border-radius: 0px 5px 5px 0px;
       transform: translateX(-10px);
       -webkit-transform: translateX(-10px);
       -moz-transform: translateX(-10px);
       -ms-transform: translateX(-10px);
       -o-transform: translateX(-10px);
       transition: all 0.7s ease;
       -webkit-transition: all 0.7s ease;
       -moz-transition: all 0.7s ease;
       -ms-transition: all 0.7s ease;
       -o-transition: all 0.7s ease;
}
.sidebar-wrapper nav ul li:has(a.active)::after,
.sidebar-wrapper nav ul li:has(a:hover)::after{
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
}
.sidebar-wrapper nav ul li a{
    display: flex;
    align-items: center;
    gap: 3px;
    width: 100%;
    color: rgb(55, 55, 55);
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    font-size: 16px;
    font-weight: 300;
}
.sidebar-wrapper .dropdown ul li a{
    font-size: 15px
}
.sidebar-wrapper nav ul li a:hover,
.sidebar-wrapper nav ul li a.active{
     color: var(--main-color);
     font-weight: 400;
}
.sidebar-wrapper nav ul li a span{
     font-size: 20px;
     display: flex;
}
.sidebar-wrapper .dropdown ul li a span{
    font-size: 18px;
}
.sidebar-wrapper .extras{
       display: flex;
       flex-direction: column;
       gap: 20px;
       width: 80%;
       margin: auto;
       padding-bottom: 40px;
}

.sidebar-wrapper .extras a{
      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      padding: 13px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      font-size: 15px;
      gap: 3px;
      color: rgb(40, 40, 40);
      transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
}
.sidebar-wrapper .extras a span{
     font-size: 20px;
     display: flex;
}
.sidebar-wrapper .extras a:hover{
    background: rgba(214, 243, 244, 0.2);
    color: var(--main-color);
}

.sidebar-wrapper button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border: none;
    gap: 3px;
    transition: all 0.7s ease;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    cursor: pointer;
    background-color: whitesmoke;
}
.sidebar-wrapper button span{
    display: flex;
}

.sidebar-wrapper button:hover{
    background: rgba(115, 234, 240, 0.2);
}



.top-wrapper{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}

.top-texts h2{
      font-size: 25px;
      margin-bottom: 5px;
      font-weight: 400;
}
.top-texts p{
      font-weight: 400;
      color: rgb(80, 80, 80);
}

.topbar-section{
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-widget span,
.notification-wrap span{
     display: flex;
     width: 35px;
     height: 35px;
     background: rgb(241, 243, 244);
     justify-content: center;
     align-items: center;
     border-radius: 6px;
     -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
     -ms-border-radius: 6px;
     -o-border-radius: 6px;
     cursor: pointer;
}
.topbar-section .profile-image{
    box-shadow: 0px 0px 2px -1px gainsboro;
}

.summary-wrapper{
       margin: 50px 0;
       display: grid;
       grid-template-columns: repeat(4, 1fr);
       gap: 20px;
}

.summary-box{
      padding: 20px;
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
}
.summary-box:nth-child(1){
     background: rgba(232, 247, 250, 0.77);
}
.summary-box:nth-child(2){
    background: rgba(232, 250, 242, 0.77);
}
.summary-box:nth-child(3){
    background: rgba(250, 232, 247, 0.674);
}
.summary-box:nth-child(4){
    background: rgba(250, 242, 232, 0.77);
}
.summary-box h2{
     font-size: 40px;
     font-weight: 400;
}
.summary-box span{
     font-size: 14px;
     font-weight: 400;
     color: rgb(121, 121, 121);
}

.summary-grid{
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 15px;
}

.summary-grid-texts h4{
     font-weight: 400;
     font-size: 36px;
     letter-spacing: -1px;
}

.summary-box .icon{
    width: 27px;
    height: 27px;
}
.summary-box:nth-child(1) .icon img{
    filter: invert(52%) sepia(91%) saturate(1735%) hue-rotate(153deg) brightness(95%) contrast(101%);
    -webkit-filter: invert(52%) sepia(91%) saturate(1735%) hue-rotate(153deg) brightness(95%) contrast(101%);
}

.summary-box:nth-child(2) .icon img{
    filter: invert(69%) sepia(26%) saturate(5911%) hue-rotate(111deg) brightness(101%) contrast(101%);
    -webkit-filter: invert(69%) sepia(26%) saturate(5911%) hue-rotate(111deg) brightness(101%) contrast(101%);
}

.summary-box:nth-child(3) .icon img{
    filter: invert(13%) sepia(94%) saturate(7400%) hue-rotate(307deg) brightness(97%) contrast(102%);
    -webkit-filter: invert(13%) sepia(94%) saturate(7400%) hue-rotate(307deg) brightness(97%) contrast(102%);
}
.summary-box:nth-child(4) .icon img{
    filter: invert(64%) sepia(74%) saturate(1991%) hue-rotate(8deg) brightness(106%) contrast(99%);
    -webkit-filter: invert(64%) sepia(74%) saturate(1991%) hue-rotate(8deg) brightness(106%) contrast(99%);
}
.summary-analytics{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.summary-analytics .spans{
    display: flex;
    gap: 5px;;
}
.summary-analytics span{
    color: rgb(50,50,50);
}
.summary-analytics span.up{
     color: #15ff6f;
      display: flex;
      font-size: 17px;
}
.summary-analytics span.down{
      color: red;
      display: flex;
      font-size: 17px;
}
.summary-analytics p{
    font-size: 13px;
    color: rgb(121, 121, 121);
}

.dashboard-split{
      display: grid;
      grid-template-columns: 2.5fr 1.2fr;
      gap: 20px;
}
.dashboard-split-big{
    border-right: 1px solid gainsboro;
}
.shop-analytics{
     padding-right: 30px;
}
.shop-analytics .shop-header{
       display: flex;
       gap: 20px;
       justify-content: space-between;
       align-items: center;
       margin-bottom: 10px;
}

.shop-header h3{
     font-size: 22px;
     font-weight: 400;
}

.shop-header .analytics-wrap{
    display: flex;
    gap: 20px;
}

.analytics-wrap .wrap-inner{
    display: flex;
    gap: 5px;
    align-items: center;
}
.analytics-wrap .wrap-inner span{
     font-size: 15px;
     display: flex;
}
.wrap-inner span.customers{
     color: var(--main-color);
}
.wrap-inner span.orders{
     color: rgb(247, 161, 3)
}

.shop-graph{
    height: 280px;
    margin-top: 20px;
}

.popular-products{
     margin: 40px 0;
     padding-right: 30px;
}
.popular-header{
      display: flex;
      justify-content: space-between;
}
.popular-header h3{
      font-size: 22px;
      font-weight: 500;
      color: rgb(50,50,50);
}
.popular-header span{
      display: flex;
      width: 35px;
      height: 35px;
      background: rgb(241, 243, 244);
      cursor: pointer;
      justify-content: center;
      align-items: center;
      border-radius: 35px;
      -webkit-border-radius: 35px;
      -moz-border-radius: 35px;
      -ms-border-radius: 35px;
      -o-border-radius: 35px;
}

.popular-products table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}
.popular-products table tr{
      text-align: left;
}

.popular-products table tr th{
      font-size: 15px;
      font-weight: 400;
      color: rgb(150, 150, 150);
      padding: 5px 0;
      border-bottom: 1px solid rgba(227, 227, 227, 0.558);
}

.popular-products table tr td{
    border-bottom: 1px solid rgba(227, 227, 227, 0.558);
    padding: 10px 3px;
    color: rgb(55, 55, 55);
    font-size: 16px;
}
.popular-products table tr:last-child td{
    border-bottom: 0;
}
.popular-products table .status{
      padding: 0px 13px;
      height: 30px;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      font-size: 14px;
}
.popular-products table .status.plus{
      color: rgb(28, 173, 100);
      background: rgba(220, 252, 236, 0.658);
}
.popular-products table .status.negative{
      color: red;
      background: rgba(255, 232, 232, 0.715);
}

.recent-orders{
      margin-bottom: 30px;
}

.extra-info .recent-orders-head,
.extra-info .top-customers-head{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(227, 227, 227, 0.558);
      margin-bottom: 15px;
}

.recent-orders-head h3,
.top-customers-head h3{
       font-size: 20px;
       font-weight: 400;
}
.recent-orders-head span,
.top-customers-head span{
      font-size: 13px;
      color: rgb(150, 150, 150);
      cursor: pointer;
}

.recent-order-moja,
.top-customer-moja{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin: 20px 0;
}
.recent-order-moja  .profile{
    flex-shrink: 0;
}

.recent-order-moja .dt,
.top-customer-moja .dt{
       font-size: 13px;
       color: rgb(150, 150, 150);
}



/* Responsiveness */
@media(max-width: 1100px){
        .sidebar-wrapper{
                transform: translateX(-100%)        ;
                -webkit-transform: translateX(-100%)        ;
                -moz-transform: translateX(-100%)        ;
                -ms-transform: translateX(-100%)        ;
                -o-transform: translateX(-100%)        ;
                transition: all 0.8s ease       ;
                -webkit-transition: all 0.8s ease       ;
                -moz-transition: all 0.8s ease       ;
                -ms-transition: all 0.8s ease       ;
                -o-transition: all 0.8s ease       ;
}
       .sidebar-wrapper.active{
           transform: translateX(0);
           -webkit-transform: translateX(0);
           -moz-transform: translateX(0);
           -ms-transform: translateX(0);
           -o-transform: translateX(0);
           z-index: 99;
}
     .summary-wrapper{
           grid-template-columns: 1fr 1fr;
           margin-top: 30px;
     }
     .dashboard-split{
            grid-template-columns: 1fr;
     }
     .dashboard-split-big{
           border-right: 0;
     }
}

@media(max-width: 768px){
         .top-wrapper{
               position: relative;
         }
         .topbar-section{
               position: absolute;
               right: 0;
               top: 0;
         }
         .top-texts h2{
             margin: 20px 0px 5px 0px;
         }

       .summary-wrapper{
              grid-template-columns: 1fr;
       }
       .shop-analytics{
            padding-right: 0;
       }
       .popular-products{
              position: relative;
              overflow-x: auto;
              max-width: 100%;
              min-height: 350px;
       }
       .popular-products table{
            width: 600px;
            position: absolute;
       }
}