.products-strip-container{
    margin: 30px 0;
}

.products-header{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.products-header button{
       width: 150px;
       height: 40px;
       display: flex;
       align-items: center;
       justify-content: center;
       background: var(--main-color);
       color: white;
       font-size: 15px;
       gap: 5px;
       border: 0;
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       cursor: pointer;
}

.products-header button span{
      display: flex;
}
.products-header .product-options{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap:wrap;
}

.search-area{
      background: var(--light-gray);
      padding: 0 10px;
      display: flex;
      gap: 5px;
      align-items: center;
      width: 300px;
      height: 40px;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}
.search-area span{
        display: flex;
        color: rgb(120, 120, 120);
}
.search-area .search-control{
      width: 100%;
      height: 90%;
      background: transparent;
      border: 0;
      font-weight: 300;
      outline: none;
}
.search-control::placeholder{
       font-size: 13px
}


.sorter{
    height: 40px;
    cursor: pointer;
    width: 90px;
    background: var(--light-gray);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.sorter p,
.collection-option p{
     height: inherit;
     display: flex;
     font-size: 13px;
     align-items: center;
     justify-content: center;
     color: rgb(50,50,50);
     border-right: 1px solid var(--line);
}
.sorter span,
.collection-option span{
      display: flex;
      color: rgb(50,50,50);
      align-items: center;
      justify-content: center;
      font-size: 15px;
}
.sorter,
.collection-option{
    position: relative;;
}

.collection-option-selected{
    height: 40px;
    cursor: pointer;
    width: 100px;
    background: var(--light-gray);
    border-radius: 7px;
    display: grid;
    grid-template-columns: 2.5fr 0.8fr;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.tab-selection{
      position: absolute;
      width: 100%;
      top: 41px;
      transition: all 0.7s ease;
      -webkit-transition: all 0.7s ease;
      -moz-transition: all 0.7s ease;
      -ms-transition: all 0.7s ease;
      -o-transition: all 0.7s ease;
      transform: scaleY(0);
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      transform-origin: top;
      z-index: 9;
      background: white;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}
.tab-selection.active{
       transform: scaleY(1);
       -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
       -ms-transform: scaleY(1);
       -o-transform: scaleY(1);
}
.tab-selection ul{
       width: 100%;
       padding: 5px 10px;
       box-shadow: 0px 0px 3px -1px gainsboro;
}
.tab-selection ul li{
        display: flex;
        font-size: 14px;
        gap: 3px;
        padding: 8px;
        cursor: pointer;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
}
.tab-selection ul li:hover{
      background: var(--light-gray);
}
.tab-selection ul li:first-child{
       border-bottom: 1px solid var(--line);
}

.products-body-row{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      margin-top: 30px;
      gap: 20px;
}

.product-card{
     padding: 10px;
     border-radius: 18px;
     -webkit-border-radius: 18px;
     -moz-border-radius: 18px;
     -ms-border-radius: 18px;
     -o-border-radius: 18px;
     background: white;
     box-shadow: 0px 0px 3px -1px var(--line);
}

.product-image img{
     border-radius: 8px;
     -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
     -ms-border-radius: 8px;
     -o-border-radius: 8px;
     height: 275px;
}
.product-card .category-and-price{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    flex-wrap: wap;
    margin: 10px 0;
}
.categories{
     display: flex;
     flex-wrap: wrap;
     gap: 5px;
}
.categories span{
    font-size: 12px;
    padding: 5px 8px;
    border-radius: 5px;
    background: rgb(238, 253, 255);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: 300;
}

.price h3{
    font-size: 18px;
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 3px;
    color: #444;
}
.price h3 span{
     color: gray;
     font-size: 12px;
     font-weight: 400;
}

.product-name h3{
     font-weight: 400;
     line-height: 1.3;
     font-size: 18px;
     transition: all 0.8s ease;
     -webkit-transition: all 0.8s ease;
     -moz-transition: all 0.8s ease;
     -ms-transition: all 0.8s ease;
     -o-transition: all 0.8s ease;
}
.product-card:hover{
      cursor: pointer;;
}
.product-card:hover .product-name h3{
     color: var(--main-color);
}
.product-card .reviews{
      display: flex;
      gap: 5px;
      margin: 10px 0;
}
.product-card .reviews span.star{
      color: rgb(255, 179, 0);
      font-size: 15px;
}
.product-card .reviews h4{
       font-size: 15px;
       font-weight: 500;
}
.product-card .reviews h4 span{
      font-weight:300;
      font-size: 13px;
      color: gray;
}

.products-body-table{
      margin-top: 30px;
}

.products-body-table table{
      width: 100%;
      border-collapse: collapse;
      border-spacing: 10px;
}

.products-body-table table tr{
      text-align: left;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
}
.products-body-table  tr td:first-child {
      border-radius: 10px 0px 0px 10px;
      overflow: hidden;
      -webkit-border-radius: 10px 0px 0px 10px;
      -moz-border-radius: 10px 0px 0px 10px;
      -ms-border-radius: 10px 0px 0px 10px;
      -o-border-radius: 10px 0px 0px 10px;
}

.products-body-table table tr th{
       font-size: 12px;
       text-transform: uppercase;
       font-weight: 400;
       padding: 10px;
       color: rgb(150, 150, 150);
}
.products-body-table table tr th span,
.products-body-table .p-check{
      display: flex;
      cursor: pointer;
      font-size: 16px;
      color: rgb(150, 150, 150);
}

.products-body-table table tbody tr{
      background: white;
      margin-top: 10px;
      box-shadow: 0px 0px 2px -1px rgb(210, 210, 210);
}
.products-body-table table td{
       height: 90px;
       font-size: 15px;
       padding: 0 10px;
}

.products-body-table table .profile-image{
      width: 45px;
      height: 45px
}

.products-body-table table .profile p{
      font-size: 13px;
      margin: 3px 0;
      color: gray;
}

.products-body-table .p-deets{
       width: 300px
}
.p-deets .profile-texts h3{
       font-weight: 400;
       font-size: 15px;
       line-height: 1.3;
}
.p-deets .profile-texts p{
      font-weight: 300;
}
.products-body-table .p-categories{
     width: 170px;
}
.products-body-table .p-price{
       display: flex;
       align-items: center;
       gap: 3px;
}
.products-body-table .p-price span{
       font-size: 13px;
}
.products-body-table .p-price h4{
      font-size: 18px;
      font-weight: 500;
}
.p-categories span,
.p-actions span:first-child{
       background: var(--line);
       display: inline-flex;
       height: max-content;
       padding: 5px 8px;
       border-radius: 4px;
       color: gray;
       margin-right: 3px;
       font-size: 12px;
       -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
       -ms-border-radius: 4px;
       -o-border-radius: 4px;
}
.products-body-table .reviews{
       display: flex;
       align-items: center;
}
.products-body-table table tr td:has(.reviews){
       width: 120px;
}
.products-body-table .reviews span{
      font-size: 13px;
      color: rgb(255, 196, 0);
}
.products-body-table .reviews span:last-child{
      font-size: 12px;
      margin-left: 2px;
      color: gray;
}
.p-actions{
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
}
.p-actions span:last-child{
     cursor: pointer;
     width: 25px;
     display: flex;
     align-items: center;
     justify-content: center;
     height: 25px;
     font-size: 13px;
     border-radius: 25px;
     -webkit-border-radius: 25px;
     -moz-border-radius: 25px;
     -ms-border-radius: 25px;
     -o-border-radius: 25px;
     transition: all 0.7s ease;
     -webkit-transition: all 0.7s ease;
     -moz-transition: all 0.7s ease;
     -ms-transition: all 0.7s ease;
     -o-transition: all 0.7s ease;
}
.p-actions span:last-child:hover{
      background: var(--light-gray);
      color: red;
}

/* Categories Styles */
.categories-row-wrapper{
      margin: 40px 0;
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 50px;
}

.category-form,
.category-list{
        box-shadow: 0px 0px 2px -1px gainsboro;
        background: white;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        height: max-content;
}

.category-form h4,
.category-list h4{
      padding: 20px;
      border-bottom: 1px solid var(--line);
      font-weight: 500;
      font-size: 18px;
}

.category-form form,
.category-list-table{
      margin: 20px;
}
.category-form .form-row{
      margin-bottom: 10px;
}

.form-row .image-area{
      display: flex;
      align-items: center;
      gap: 10px;
}
.form-row .image-area .profile-image{
      flex-shrink: 0;
      width: 45px;
      height: 45px;
}
.form-row .image-area .uploader{
      position: relative;
      font-size: 15px;
      cursor: pointer;
      color: rgb(120, 120, 120);
}
.form-row .image-area .uploader input{
       position :absolute;
       opacity: 0;
       cursor: pointer;
}
.form-row .image-action .uploader{
      color: var(--main-color);
}
.form-row .image-action p{
       color: #fa0000;
       cursor: pointer;
       font-size: 14px;
       font-weight: 500;
}
.form-row button{
      width: 150px;
      margin-top: 20px;
      height: 45px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--main-color);
      color: white;
      border: 0;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}
.form-row button span{
      display: flex;
      align-items: center;
}
.category-list-table table{
      width: 100%;
      border-collapse: collapse;
}

.category-list-table table tr,
.category-list-table table th,
.category-list-table table td{
     text-align: left;
}

.category-list-table table th{
        font-size: 15px;
        color:  rgb(80, 80, 80);
        font-weight: 400;
        padding: 8px 0;
        border-bottom: 1px solid var(--line);
}
.category-list-table table td{
      padding: 10px 0;
      border-bottom: 1px solid var(--line);
      font-size: 15px;
      color: rgb(68, 68, 68);
}
.category-list-table table tr:last-child td{
       border-bottom: 0;
}
.category-list-table .c-name{
      display: flex;
      gap: 8px;
      align-items: center;
}
.category-list-table .c-name p{
      font-size: 15px;
}
.category-list-table .c-name h5{
      font-size: 16px;
      font-weight: 400;
}
.category-list-table .c-actions{
      display: flex;
      gap: 10px;
}
 .v-list,
.v-list-colors{
      display: flex;
      gap: 5px;
      flex-wrap: wrap;
}
.v-list span{
      display: inline-flex;
      align-items: center;
      gap: 3px;
      padding: 6px 8px 8px 8px;
      background: rgb(238, 253, 255);
      border: 1px solid rgba(201, 215, 218, 0.088);
      font-size: 13px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
.v-list-colors .type-box{
       width: 20px;
       height: 20px;
       display: flex;
}
 .v-list-colors span{
      width: 20px;
      height: 20px;
      border-radius:4px;
      -webkit-border-radius:4px;
      -moz-border-radius:4px;
      -ms-border-radius:4px;
      -o-border-radius:4px;
      border: 1px solid ghostwhite;
}

.c-actions span{
       display: flex;
       width: 25px;
       height:25px;
       cursor: pointer;
       align-items: center;
       justify-content: center;
       border-radius: 50%;
       -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
       -ms-border-radius: 50%;
       -o-border-radius: 50%;
       background: var(--light-gray);
       transition: all 0.8s ease;
       -webkit-transition: all 0.8s ease;
       -moz-transition: all 0.8s ease;
       -ms-transition: all 0.8s ease;
       -o-transition: all 0.8s ease;
}

.c-actions span:nth-child(1):hover{
      color: var(--main-color)
}
.c-actions span:nth-child(2):hover{
       color: #fa0000;
}

.modal{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(50, 61, 66, 0.523);
      z-index: -44;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
}
.modal.active{
      z-index: 99;
      opacity: 1;
}
.modal-body{
      width: 300px;
      border-radius: 10px;
      padding: 20px;
      background: white;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      text-align: center;
}

.modal-body.delete span{
      width: 50px;
      height: 50px;
      margin: 0px auto 10px auto;
      display: flex;
      color: #fa0000;
      background: rgb(249, 220, 220);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}
.modal-body h3{
       font-weight: 500;
       line-height: 1.4;
       margin-bottom: 10px;
}
.modal-body .modal-btns{
      display: flex;
      gap: 10px;
      justify-content: center;
}
.modal-btns button{
      width: 100px;
      height: 40px;
      background: transparent;
      border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      cursor: pointer;
      border: 0;
}
.modal-btns button:nth-child(1){
      background-color: #d1f3ff;
}
.modal-btns button:nth-child(2),
.form-row.btns span.cancel{
      background-color: #ffd8d8;
}

.modal-body.edit{
          width: 500px;
          padding: 0px 20px 20px 20px;
          text-align: left;
}
.modal-body.edit h3{
       border-bottom: 1px solid var(--line);
       padding: 10px 0;
       text-align: center;
}
.modal-body.edit .form-row{
      margin-bottom: 10px;
}

.modal-body.edit .textarea-control{
       height: 120px !important;
}

.form-row.btns{
      display: flex;
      gap: 10px;
      align-items: center;
      margin: 20px 0;
}

.form-row.btns span.cancel{
       display: flex;
       height: 45px;
       width: 100px;
       align-items: center;
       justify-content: center;
       font-size: 14px;
       cursor: pointer;
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
       color: rgb(50,50,50);
}
.form-row.btns button{
      margin: 0;
}

.special-form-input{
      display: flex;
      align-items: center;
      gap:10px
}
.special-form-input span{
      height: 45px;
      width: 80px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--main-color);
      color: white;
      border: 0;
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}
.special-form-results,
.option-results,
.selected-categories{
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      margin-top: 10px;
}

.special-form-results .result,
.selected-categories .result,
.option-results .result{
      display: flex;
      align-items: center;
      gap: 3px;
      padding: 6px 8px 8px 8px;
      background: rgb(238, 253, 255);
      border: 1px solid rgba(201, 215, 218, 0.088);
      font-size: 13px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
}
.special-form-results .result span,
.selected-categories .result span{
      font-size: 13px;
      display: flex;
      margin-top: 2px;
      color: red;
      cursor: pointer;
}


/* Create Product Modal */
.product-modal{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(66, 85, 84, 0.5);
      z-index: -99;
      opacity: 0;
}

.product-modal.active{
      z-index: 99;
      opacity: 1;
}

.product-modal-content{
       width: 1000px;
       background: white;
       position: absolute;
       right: 0;
       height: 100%;
       border-radius: 20px 0px 0px 20px;
       -webkit-border-radius: 20px 0px 0px 20px;
       -moz-border-radius: 20px 0px 0px 20px;
       -ms-border-radius: 20px 0px 0px 20px;
       -o-border-radius: 20px 0px 0px 20px;
       transform: translateX(100%);
       -webkit-transform: translateX(100%);
       -moz-transform: translateX(100%);
       -ms-transform: translateX(100%);
       -o-transform: translateX(100%);
       overflow-y: scroll;
}


.product-modal-header{
      border-bottom: 1px solid var(--line);
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 40px;
      position: sticky;
      background: white;
      top: 0;
      z-index: 88;
}
.product-modal-header h3{
      font-size: 20px;
      font-weight: 400;
}
.product-modal-header span{
       width: 40px;
       height: 40px;
       background: var(--light-gray);
       cursor: pointer;
       display: flex;
       align-items: center;
       justify-content: center;
       border-radius: 7px;
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       -o-border-radius: 7px;
}

.product-modal-body{
      padding: 10px 40px;
      display: grid;
      grid-template-columns: 3.5fr 1.75fr;
      gap: 30px;
}
.product-modal-body .form-row{
      margin-bottom: 10px;
}
.product-modal-body .form-row textarea{
      height: 100px;
      resize: none;
}
.additional-form  textarea{
      height: 250px !important;
}
.product-form-title{
       font-weight: 500;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid var(--line);
}
.form-row .form-input{
      display: flex;
      align-items: center;
      gap: 10px;
}
.form-row .checkbox-control{
      cursor: pointer;
      font-size: 25px;
      width: 16px;
      height: 16px;
}
.form-row .form-input p{
      font-size: 15px;
      color: rgb(122, 122, 122);
      font-weight: 300;
}

.product-choice-trigger,
.product-choice-selection{
       display: inline-flex;
       gap: 10px;
       align-items: center;
       position: relative;
}

.choice-display{
      width: 130px;
      height: 150px;
      border: 1px dashed gainsboro;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
}
.choice-display span{
      font-size: 30px;
      color: rgb(178, 178, 178);
}
.product-choice-trigger h5,
.product-choice-selection h5{
      font-weight: 400;
      display: inline-flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      position: relative;
}
.product-choice-trigger h5::after{
      content: "";
      width: 0%;
      height: 1px;
      position: absolute;
      bottom: 0;
      background: var(--main-color);
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
}
.product-choice-trigger:hover h5::after{
       width: 100%;
}
.product-choice-trigger h5 span{
      font-size: 20px;
      color: rgb(120, 120, 120);
}
.product-choice-trigger input{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
}
.product-choice-selection .choice-display{
     overflow: hidden;
}
.product-choice-selection h5 span{
      width: 35px;
      height: 35px;
      background-color: var(--light-gray);
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      display: flex;
      align-items: center;
      color: red;
      justify-content: center;
}

.dropbox-container{
      width: 100%;
      height: 150px;
      border: 1px dashed gainsboro;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      position: relative;
}
.dropbox-container span,
.add-more-gallery-images span{
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: var(--light-gray);
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
      margin-bottom: 10px;;
}

.dropbox-container p,
.add-more-gallery-images p{
       font-size: 15px;
       font-weight: 300;
       color: rgb(50,50,50);
}
.dropbox-container .dropy,
.add-more-gallery-images .dropy{
      position: absolute;
      opacity: 0;
}
.add-more-gallery-images{
      height: 150px;
      width: 150px;
      border: 1px dashed gainsboro;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      position: relative;
}
.uploaded-images{
      display: flex;
      flex-wrap: wrap;
      margin-top: 10px;
      gap: 20px;
}
.uploaded-images .gallery-image-moja{
        width: 150px;
        border-radius: 7px;
        -webkit-border-radius: 7px;
        -moz-border-radius: 7px;
        -ms-border-radius: 7px;
        -o-border-radius: 7px;
        position: relative;
}
.gallery-image-moja img{
      border-radius: 7px;
      -webkit-border-radius: 7px;
      -moz-border-radius: 7px;
      -ms-border-radius: 7px;
      -o-border-radius: 7px;
}

.gallery-image-moja span{
      width: 30px;
      height: 30px;
      position: absolute;
      right: 5px;
      top: 5px;
      border-radius: 4px;
      background: var(--light-gray);
      display: flex;
      align-items: center;
      justify-content: center;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      font-size: 14px;
      color: red;
      cursor: pointer;
      opacity: 0;
}
.gallery-image-moja:hover span{
      opacity: 1;
}

.variation-choices{
      margin-top: 10px;
}
.variation-choices span{
      cursor: pointer;
}
.variation-choices .v-list span.active{
      background: var(--main-color);
      color: white;
}
.variation-choices .v-list-colors span.active{
      border: 2px solid var(--main-color)
}

.form-row.btn button{
      width: 100%;
      margin-top: 50px;
}





































@media(max-width: 1090px){
      .products-body-table{
            position: relative;
            overflow-x: auto;
            max-width: 100%;
            min-height: 350px;
      }
      .products-body-table table{
              width: 1000px;

      }
}

@media(max-width: 768px){
       .search-area{ 
            width: 100%;
       }
       .categories-row-wrapper{
             grid-template-columns: 1fr;
       }
       .category-list-table{
              position: relative;
              overflow-x: auto;
              max-width: 100%;
              min-height: 200px;
       }
       .category-list-table table{
              width: 600px;
              position: absolute;
       };
}
